* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* shared css */

.color-rgb-text {
    background: linear-gradient(to top,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.backgroud-rgb {
    background: linear-gradient(to top right,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
}

.margin {
    margin-left: 12.5rem;
    margin-right: 12.5rem;
}


.my-icon{
  font-size: 60px !important;            
}



/* Navbar */
.nav {
    background-color: #1A0B2E;
    color: #FFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    min-height: 5.72rem;
    border-bottom: 0.1px solid #c4c4c43b;
}

.AEH ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.AEH ul a {
    text-decoration: none;
    color: #FFFF;
    font-size: 1rem;
}

.btn-rgb {
    color: #FFFF;
    display: flex;
    align-items: center;
    padding: 0.78rem 1rem;
    font-size: 1rem;
    border-radius: 62.5rem;
    gap: 5px;
    /* box-shadow: 0 8px 18px rgba(251, 9, 180, 0.25); */

    transition: transform 0.2s ease;

}

.btn-rgb:hover {
    transform: scale(1.09);
    cursor: pointer;
}

/* banner-section */

.banner-section {
    width: 100%;
    min-height: 47.5vh;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.b-name {
    margin-top: 2.5rem;
    margin-bottom: 6.313rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.b-name h1 {
    color: #FFFF;
    font-size: 3.75rem;
    font-weight: bolder;
    align-items: center;
}

.b-name p {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 100;
    padding-top: 0.5rem;
}


.circle {
    width: 21.875vw;
    height: 21.875vw;

    max-width: 350px;
    max-height: 350px;
    /* border:2px solid white; */
    border-radius: 50%;
    margin: 6.313rem auto 0;
    /* background-color: #1A0B2E; */
    background: url(../assets/hero-circle.png);
    display: flex;
    padding: 0 auto;

    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.circle:hover img {

    animation: float 0.7s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }
}



.btn-green {
    background: none;
    color: #00FF88;
    display: flex;
    align-items: center;
    padding: 0.78rem 1rem;
    font-size: 1rem;
    border-radius: 62.5rem;
    gap: 5px;
    /* box-shadow: 0 8px 18px rgba(251, 9, 180, 0.25); */

    transition: transform 0.2s ease;
    border: 1px solid #00FF88;

}

.btn-green:hover {
    transform: scale(1.09);
    cursor: pointer;
}

.banner-btn {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.5rem;
}


/* main */

.about {
    background-color: #1A0B2E;
}

.text {
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1px solid #c4c4c43b;

}

.text-heading {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 1rem;
    align-items: center;
}

.text-d {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: lighter;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-s {
    padding-top: 80px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-around;
}

.ic {
    color: #00FF88;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ic h1{
    font-size: 3em;
    font-weight: bolder;
}

.ic p{
    color: #FFFFFF;
    padding-top: 1em;
}

/* choose section */

.choose-section{
    background-color: #230E3D;
}

.choose-header{
    padding-top: 7.5rem;
    color: #FFFFFF;
    font-size: 3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-container{
    margin-top: 2.44rem;
    display: grid;
    gap: 1.875rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 7.5rem;
}

.box{
    background-color: #351165;
    border-radius: 2.5rem;
}

#audio{
    padding: 6.67rem 2.5rem;
    grid-row: span 2;
}

#mobile{
    grid-column: span 2;
    padding: 2.5rem 2.5rem;
}

#global{
    grid-column: span 2;
    padding: 2.5rem 2.5rem;
}

#interview{
    grid-column: span 2;
    padding: 2.5rem 2.5rem;
}

#rich{
    padding: 2.5rem 2.5rem;

}

.gh{
   color: #FFFFFF;
   font-size: 1.5rem;
   font-weight: bold;
   padding-top: 1rem;
}

.gp{
   color: #FFFFFF;
   font-size: 1rem;
   padding-top: 1rem;

}

/* featured section */

.featured-section{
    background-color: #1A0B2E;
}

.fp-container{
    padding: 7.5rem 0;
}

.fp-para{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card-container{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;

}

.card{
   width: 23.75rem;
   /* height: 27.5rem; */
   border-radius: 2rem;
   /* border: 2px solid red; */
   background-color: #250D44;
   overflow: hidden;

}

.card iframe{
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0 ;
}

.paragraph{
    padding: 24px;
}

.min{
    color: #00FF88;
    display: flex;
    padding-top: 12px;
    gap: 5px;
}

.v-name{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
}

.v-description{
    padding-top: 0.75rem;
    font-size: 1rem;
    color: #FFFFFF;


}