* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* shared css */

.color-rgb-text {
    background: linear-gradient(to top,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.backgroud-rgb {
    background: linear-gradient(to top right,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
}





/* Navbar */
.nav {
    background-color: #1A0B2E;
    color: #FFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    min-height: 5.72rem;
    border-bottom: 0.1px solid #c4c4c43b;
}

.AEH ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.AEH ul a {
    text-decoration: none;
    color: #FFFF;
    font-size: 1rem;
}

.btn-rgb {
    color: #FFFF;
    display: flex;
    align-items: center;
    padding: 0.78rem 1rem;
    font-size: 1rem;
    border-radius: 62.5rem;
    gap: 5px;
    /* box-shadow: 0 8px 18px rgba(251, 9, 180, 0.25); */

    transition: transform 0.2s ease;

}

.btn-rgb:hover {
    transform: scale(1.09);
    cursor: pointer;
}

/* banner-section */

.banner-section {
    width: 100vw;
    min-height: 47.5vh;
    /* border: 2px solid red; */
    background-image: url(../assets/hero-bg.png);
    display: flex;
    justify-content: center;

}

.design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.b-name {
    margin-top: 2.5rem;
    margin-bottom: 6.313rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.b-name h1 {
    color: #FFFF;
    font-size: 3.75rem;
    font-weight: bolder;
    align-items: center;
}

.b-name p {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 100;
    padding-top: 0.5rem;
}


.circle {
    width: 21.875vw;
    height: 21.875rem;
    /* border:2px solid white; */
    border-radius: 50%;
    margin-top: 6.313rem;
    margin-left: 39.2rem;
    margin-right: 39.00rem;
    /* background-color: #1A0B2E; */
    background: url(../assets/hero-circle.png);
    display: flex;
    padding: 0 auto;

    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.circle:hover img {

    animation: float 0.7s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }
}



.btn-green {
    background: none;
    color: #00FF88;
    display: flex;
    align-items: center;
    padding: 0.78rem 1rem;
    font-size: 1rem;
    border-radius: 62.5rem;
    gap: 5px;
    /* box-shadow: 0 8px 18px rgba(251, 9, 180, 0.25); */

    transition: transform 0.2s ease;
    border: 1px solid #00FF88;

}

.btn-green:hover {
    transform: scale(1.09);
    cursor: pointer;
}

.banner-btn {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.5rem;
}